* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F7F7;

}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 4px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
}

.shop-title,
.faq-title {
  font-size: 2rem;
  text-align: center;
  position: relative;
  margin-bottom: 80px;
}

.shop-title::before,
.faq-title::before {
  content: "";
  width: 100px;
  height: 2px;
  background-color: #862F36;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
}

.c0 {
  color: #862F36;
}

.c1 {
  color: #232324;
}

.c2 {
  color: #F7F7F7;
}

.playfair-display {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 32px;
}

.nav-menu li a {
  font-size: 1.25rem;
}

.nav-menu li a:hover {
  color: #862F36;
  font-weight: 500;
}

[data-menu="button"] {
  display: none;
}

.main-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.main-title {
  margin-top: 80px;
  text-align: center;
  font-size: 4.5rem;
  line-height: 1.25;
}

.main-img {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}

.main-img::before {
  content: "";
  width: 100px;
  height: 2px;
  background-color: #862F36;
}

.about-container {
  margin-top: 120px;
}

.about-title {
  font-size: 2rem;
}

.about-title span {
  font-weight: 500;
}

.about-text {
  margin-top: 20px;
  font-size: 1.125rem;
  line-height: 1.5;
}

.about-text span {
  text-decoration: underline;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
}

.shop-container,
.faq-container,
footer {
  margin-top: 120px;
}

.shop-title span {
  font-weight: 500;
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.item {
  max-width: 400px;
}

.item-info {
  padding-top: 10px;
  padding-bottom: 10px;
}

.item-info-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-info-title h3 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.item-info-title h3:before {
  content: "";
  width: 2px;
  height: 24px;
  background-color: #862F36;
  transition: 0.2s;
}

.item:hover .item-info-title h3:before {
  width: 24px;
  height: 2px;
}

.item-info-title h3,
.item-info-title span {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
}

.item-info-text {
  margin-top: 8px;
  font-size: 1rem;
  line-height: 1.5;
}

.faq-questions dt {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 10px 0;
  margin-top: 40px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.faq-questions dt::before {
  content: "";
  width: 2px;
  height: 24px;
  background-color: #862F36;
  transition: 0.2s;
}

.faq-questions dd {
  display: none;
  margin-bottom: 32px;
  font-size: 1rem;
  line-height: 1.5;
  margin-left: 32px;
}

.faq-questions dt.active::before {
  width: 24px;
  height: 2px;
}

.faq-questions dd.active {
  display: block;
  animation: show-accordion 0.2s forwards;
}

@keyframes show-accordion {
  from {
    transform: translate3d(-30px, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

footer {
  background-color: #862F36;
}

.footer-container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}

.footer-container h3 {
  font-size: 1.25rem;
  margin-bottom: 20px;
  font-weight: 500;
}

.footer-container p {
  grid-column: 1/-1;
  margin-top: 32px;
}

.footer-container li {
  margin-bottom: 16px;
  font-size: 1rem;
  opacity: 0.9;
}

.social-medias {
  display: flex;
  gap: 32px;
}

.social-medias img {
  width: 24px;
  margin-top: 16px;
}

@media(max-width: 1000px) {
  .about-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width:800px) {
  .container {
    padding: 0 10px;
  }

  .main-title {
    font-size: 3.5rem;
  }

  .about-container,
  .shop-container,
  .shop-container,
  .faq-container,
  footer {
    margin-top: 80px;
  }

  .about-title,
  .shop-title,
  .faq-title {
    font-size: 1.5rem;
  }

  .about-text {
    font-size: 1rem;
  }

  .about-grid {
    grid-template-columns: 1fr;
  }

  .shop-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .logo {
    display: none;
  }

  .footer-container {
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width:600px) {
  .main-title {
    font-size: 2.5rem;
    margin-top: 40px;
  }

  .main-img {
    margin-top: 40px;
    row-gap: 40px;
  }

  [data-menu="button"] {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #862F36;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    color: #F7F7F7;
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;
  }

  [data-menu="button"]:before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 12px;
    background-color: #F7F7F7;
    box-shadow: 0 4px #F7F7F7, 0 -4px #F7F7F7;
    transition: 0.2s;
  }

  [data-menu="list"] {
    display: none;
    position: absolute;
    background-color: #862F36;
    flex-direction: column;
    gap: 40px;
    width: 75vw;
    padding: 10px;
    top: 10;
    border-radius: 4px;
  }

  @keyframes show-animation {
    from {
      transform: translate3d(0, -30px, 0);
      opacity: 0;
    }

    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  [data-menu="list"].active {
    display: flex;
    animation: show-animation 0.2s forwards;
  }

  [data-menu="button"].active::before {
    transform: rotate(90deg);
  }

  [data-menu="list"] li a {
    color: #F7F7F7;
  }

  [data-menu="list"] li a:hover {
    color: #F7F7F7;
  }

  .faq-questions dt {
    font-family: 'Montserrat';
    font-size: 1rem;
  }

  .footer-container {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 500px) {
  .shop-grid {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .item {
    justify-self: center;
  }
}

@media(max-width:450px) {
  .main-title {
    font-size: 2rem;
    text-align: left;
  }

  .main-img {
    margin-top: 32px;
    display: block;
  }

  .main-img::before {
    content: "";
    width: 100px;
    height: 2px;
    background-color: #862F36;
    display: block;
    margin-bottom: 32px;
  }
}

@media(max-width:360px) {
  .main-title {
    font-size: 1.5rem;
  }
}